*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.wrappage{
    width: 100%;
    height: 100vh;
    display: flex;

}

.wrappage-left{
    width: 25%;
    height: 100%;
    background-color:whitesmoke;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.256);
}
.top-wrappage-left{
    width: 100%;
    height: 15%;
    background-color: rgb(9, 6, 57);
    display: flex;
    align-items:center;
    font-size: 30px;
    font-weight:700;
    color:white;
    padding: 0 40px;
    
}

.admin{
    width: 100%;
    height: auto;
    margin: 150px 0;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    border:2px solid purple;
    outline: none;
    
}
.admin input::placeholder{
    color:rgb(114, 189, 114);
    font-weight: 500;
}
.box-option{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.box-option .reset-password{
    font-weight: 500;
    font-size: 15px;
    color: red;
    cursor:pointer;
}

.box-option .btn-login span{
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 10px 0 10px 0;
    padding: 5px 15px;
    cursor: pointer;
}

.box-option .btn-login span:hover{
    box-shadow: 1px 0 5px rgba(0, 0, 0,25%);
}
.wrappage-right{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.822);
}
.wrappage-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrappage-right span{
    position: absolute;
    bottom: 30%;
}